# Development files, build outputs, and local game runs
.idea/
*.iml
*.log
*.class
**/repo/
**/.gradle/
**/.idea/
**/build/
**/run/
**/runs/
**/local_repo/
**/references/
**/libs/
*.jar
!**/gradle/wrapper/gradle-wrapper.jar
